body
{
    margin: 0;
    height: 400vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: black;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr ;
    height: 400vh;

}

header
{
    grid-area: 1 / 1 / 2 / 7;

}

main 
{
    grid-area: 2 / 1 / 10 / 7;

}

img
{
    width: 200px;
}

section.VisualStudio
{
    grid-area: 2 / 1 / 6 / 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

section.CSharp
{
    grid-area: 2 / 2 / 4 / 7;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

section.Cplusplus
{
    grid-area: 4 / 2 / 6 / 7;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

section.VersionControl
{
    grid-area: 6 / 1 / 8 / 2 ;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

section.Git 
{
    grid-area: 6 / 2 / 8 / 7;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


 section.Languages
 {
     grid-area: 8 / 1 / 10 / 2;
 }

 section.English
 {
     grid-area: 8 / 2 / 10 / 7;
 }
section.project1
{
    grid-area: 10 / 1 / 11 / 3;    
}
section.project2
{
    grid-area: 10 / 3 / 11 / 5;
}
section.project3
{
    grid-area: 10 / 5 / 11 / 7;
}
section.project4
{
    grid-area: 11 / 1 / 12 / 3; 
}
section.project5
{
    grid-area: 11 / 3 / 12 / 5; 
}
section.project6
{
    grid-area: 11 / 5 / 12 / 7; 
}
section.experience
{
    grid-area: 12 / 1 / 14 / 7;
}
section.education
{
    grid-area: 14 / 1 / 16 / 7;

}

