body
{
    margin: 0;
    height: 100vh;
}

.grid-container
{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    height: 100vh;
    margin: 2em;
}

ul 
{
    list-style-type: none;
    perspective: 1000px;
}

ul li 
{
    display: grid;
    grid-template-columns: 20% auto;
    border: 10px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,.2);
    transform: rotateY(30deg) rotateX(-15deg);
}

ul li:hover
{
    transform: rotateY(25deg) rotateX(-7deg) scale(1.03);
    transition: transform .4s ease-out;
}

ul li:nth-child(1)
{
    background: #bbffee;
    left: 100px;
    z-index: 1;
}

ul li:nth-child(2)
{
    background: #faffcf;
    left: 550px;
    z-index: 0;
}

img 
{
    width: 70px;
}
header
{
    grid-area: 1 / 1 / 2 / 5;
    background: rgb(1, 49, 88);
}

main 
{
    grid-area: 2 / 1 / 3 / 5;
    background: rgb(103, 93, 187);
}

section.projects
{
    grid-area: 3 / 1 / 4 / 5;
    background: rgb(255, 255, 255);
}

section.education
{
    grid-area: 4 / 1 / 5 / 5;
    background-color: rgb(172, 172, 171);
}

