body
{
    margin: 0;
    height: 400vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: black;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr ;
    height: 400vh;

}

header
{
    grid-area: 1 / 1 / 2 / 7;

}

img
{
    width: 200px;
}

section.VisualStudio
{
    grid-area: 2 / 1 / 6 / 2;
    place-self: center;
}

section.CSharp
{
    grid-area: 2 / 2 / 4 / 3;
    justify-self: left;
    align-self: center;
}

section.CSharpText
{
    grid-area: 2 / 3 / 4 / 7;
    justify-self: left;
    align-self: center;
    font-size: xx-large;
}

section.Cplusplus
{
    grid-area: 4 / 2 / 6 / 3;
    justify-self: center;
    align-self: center;
}

section.CplusplusText
{
    grid-area: 4 / 3 / 6 / 7;
    justify-self: left;
    align-self: center;
    font-size: xx-large;
}

section.VersionControl
{
    grid-area: 6 / 1 / 8 / 2 ;
    place-self: center;
}

section.Git 
{
    grid-area: 6 / 2 / 7 / 7;
    background: rgb(11, 11, 56);
    justify-self: center;
    align-self: center;
}

section.GitText
{
    grid-area: 7 / 2 / 8 / 7;
    justify-self: center;
    align-self: start;
    font-size: large;
    text-align: center;
}

section.Languages
{
    grid-area: 8 / 1 / 10 / 2;
}

section.English
{
    grid-area: 8 / 2 / 10 / 7;
}
section.project1
{
    grid-area: 10 / 1 / 11 / 3;   
    place-self: center;
}

section.project2
{
    grid-area: 10 / 3 / 11 / 5;
    place-self: center;
}
section.project3
{
    grid-area: 10 / 5 / 11 / 7;
}
section.project4
{
    grid-area: 11 / 1 / 12 / 3; 
}
section.project5
{
    grid-area: 11 / 3 / 12 / 5; 
}
section.project6
{
    grid-area: 11 / 5 / 12 / 7; 
}
section.experience
{
    grid-area: 12 / 1 / 14 / 7;
}
section.education
{
    grid-area: 14 / 1 / 16 / 7;

}

button
{
    background: rgb(11, 11, 56);
    color: #ccc;
    width: 240px;
    height: 80px;
    border: 1px solid rgb(41, 41, 95);
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

button:focus
{
    outline: none;
}

button:hover
{
    background: rgb(41, 41, 95);
    cursor: pointer;
}

button:hover::before
{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover::after
{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}